api_path: /api # 用于获取订阅信息的接口路径，如：/api  请求方式：GET
password: 12345678 # 请求接口的密码
sub_url:  # 订阅地址默认忽略
basic_auth: admin:123456 # 获取代理节点信息：基础认证，格式为 username:password
server_url:  # 获取代理节点信息,服务地址。默认忽略

#代理信息模板
proxies: [] # 自己的节点信息

proxy-groups: [] # 代理组

rules: [] # 规则

